<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>REGISTRAR CLIENTE</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            <form action="">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" />
                            </div>
                            <div>
                                <label for="razon-social">Razón social:</label>
                                <input
                                    type="text"
                                    name="razon-social"
                                    id="razon-social"
                                />
                            </div>
                            <div>
                                <label for="cif">CIF:</label>
                                <input type="text" name="cif" id="cif" />
                            </div>
                            <div>
                                <label for="direccion">Dirección:</label>
                                <input
                                    type="text"
                                    name="direccion"
                                    id="direccion"
                                />
                            </div>
                            <div>
                                <label for="municipio">Municipio:</label>
                                <input
                                    type="text"
                                    name="municipio"
                                    id="municipio"
                                />
                            </div>
                            <div>
                                <label for="provincia">Provincia:</label>
                                <input
                                    type="text"
                                    name="provincia"
                                    id="provincia"
                                />
                            </div>
                        </div>
                        <div id="segundo-contenedor">
                            <div>
                                <label for="fecha-inicio">Fecha inicio:</label>
                                <input
                                    type="date"
                                    name="fecha-inicio"
                                    id="fecha-inicio"
                                />
                            </div>
                            <div>
                                <label for="fecha-fin">Fecha fin:</label>
                                <input
                                    type="date"
                                    name="fecha-fin"
                                    id="fecha-fin"
                                />
                            </div>
                            <div>
                                <label for="reconocimientos"
                                    >Nº de reconocimientos:</label
                                >
                                <input
                                    type="number"
                                    name="reconocimientos"
                                    id="reconocimientos"
                                />
                            </div>
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="registrar">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
=======
<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>REGISTRAR CLIENTE</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            <form action="">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" />
                            </div>
                            <div>
                                <label for="razon-social">Razón social:</label>
                                <input
                                    type="text"
                                    name="razon-social"
                                    id="razon-social"
                                />
                            </div>
                            <div>
                                <label for="cif">CIF:</label>
                                <input type="text" name="cif" id="cif" />
                            </div>
                            <div>
                                <label for="direccion">Dirección:</label>
                                <input
                                    type="text"
                                    name="direccion"
                                    id="direccion"
                                />
                            </div>
                            <div>
                                <label for="municipio">Municipio:</label>
                                <input
                                    type="text"
                                    name="municipio"
                                    id="municipio"
                                />
                            </div>
                            <div>
                                <label for="provincia">Provincia:</label>
                                <input
                                    type="text"
                                    name="provincia"
                                    id="provincia"
                                />
                            </div>
                        </div>
                        <div id="segundo-contenedor">
                            <div>
                                <label for="fecha-inicio">Fecha inicio:</label>
                                <input
                                    type="date"
                                    name="fecha-inicio"
                                    id="fecha-inicio"
                                />
                            </div>
                            <div>
                                <label for="fecha-fin">Fecha fin:</label>
                                <input
                                    type="date"
                                    name="fecha-fin"
                                    id="fecha-fin"
                                />
                            </div>
                            <div>
                                <label for="reconocimientos"
                                    >Nº de reconocimientos:</label
                                >
                                <input
                                    type="number"
                                    name="reconocimientos"
                                    id="reconocimientos"
                                />
                            </div>
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="registrar">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>