<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>REGISTRAR CLIENTE</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" name="email" id="email" [(ngModel)]="cliente.email" required />
                            </div>
                            <div>
                                <label for="razon_social">Razón social:</label>
                                <input
                                    type="text"
                                    name="razon_social"
                                    id="razon_social"
                                    [(ngModel)]="cliente.razon_social"
                                    required
                                />
                            </div>
                            <div>
                                <label for="cif">CIF:</label>
                                <input type="text" name="cif" id="cif" [(ngModel)]="cliente.cif" required />
                            </div>
                            <div>
                                <label for="reconocimientos">Nº de reconocimientos:</label>
                                <input
                                    type="number"
                                    name="reconocimientos"
                                    id="reconocimientos"
                                    [(ngModel)]="cliente.reconocimientos"
                                    required
                                />
                            </div>
                        </div>
                        <div id="segundo-contenedor">
                            <div>
                                <label for="direccion">Dirección:</label>
                                <input
                                    type="text"
                                    name="direccion"
                                    id="direccion"
                                    [(ngModel)]="cliente.direccion"
                                    required
                                />
                            </div>
                            <div>
                                <label for="municipio">Municipio:</label>
                                <input
                                    type="text"
                                    name="municipio"
                                    id="municipio"
                                    [(ngModel)]="cliente.municipio"
                                    required
                                />
                            </div>
                            <div>
                                <label for="provincia">Provincia:</label>
                                <input
                                    type="text"
                                    name="provincia"
                                    id="provincia"
                                    [(ngModel)]="cliente.provincia"
                                    required
                                />
                            </div>
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="registrar">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
