<div class="container-citas">
    <div class="header-citas">
        <div>
            <button (click)="modal.open()">Crear cita</button>
        </div>
        <app-modal-create #modal></app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda..." />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <div id="contenedor-filtros">
        <label for="fecha-desde">Fecha desde:</label>
        <input type="text" id="fecha-desde" placeholder="" />
        <label for="fecha-hasta">Fecha hasta:</label>
        <input type="text" id="fecha-hasta" placeholder="" />
    </div>
    <table id="tabla-citas">
        <thead>
            <th>Id</th>
            <th>Nº Contrato</th>
            <th>Paciente</th>
            <th>Nombre empresa</th>
            <th>DNI</th>
            <th>Médico</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let cita of citas">
                <td>{{ cita.id }}</td>
                <td>{{ cita.contrato_id }}</td>
                <td>{{ cita.paciente }}</td>
                <td>{{ cita.cliente }}</td>
                <td>{{ cita.dni_paciente }}</td>
                <td>{{ cita.medico }}</td>
                <td>{{ cita.fecha | date : "dd-MM-yyyy" }}</td>
                <td>{{ cita.fecha | date : "HH:mm" }}</td>
                <td>
                    <button (click)="modal.open()" id="edit-button">
                        Modificar
                    </button>
                    <button id="delete-button">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
