<div class="modal-backdrop" *ngIf="visible">
    <div class="modal-container" *ngIf="visible">
        <div class="modal-content-custom">
            <div class="modal-header">
                <h5 class="modal-title">Crear nueva cita</h5>
                <i class="bi bi-x-circle close-button" (click)="cerrar()"></i>
            </div>
            <div>
                
                <form [formGroup]="formulario" (ngSubmit)="crearCita()">
                    <!-- Selección de paciente (obtenido por el cliente autenticado) -->
                    <div id="contenedor-principal">
                        <div id="columnas">
                            <div id="primer-contenedor">
                                <div>
                                    <label for="paciente" class="form-label">Paciente</label>
                                    <select id="paciente" class="form-select" formControlName="id_paciente" required>
                                        <option value="" disabled selected>Selecciona un paciente</option>
                                        <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                            {{ paciente.nombre }} {{ paciente.apellidos }}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label for="paciente" class="form-label">Paciente</label>
                                    <select id="paciente" class="form-select" formControlName="id_paciente" required>
                                        <option value="" disabled selected>Selecciona un paciente</option>
                                        <option *ngFor="let paciente of pacientes" [value]="paciente.id">
                                            {{ paciente.nombre }} {{ paciente.apellidos }}
                                        </option>
                                    </select>
                                </div>
                                <!-- Selección de médico -->
                                <div>
                                    <label for="medico" class="form-label">Médico</label>
                                    <select id="medico" class="form-select" formControlName="id_medico" required>
                                        <option value="" disabled selected>Selecciona un médico</option>
                                        <option *ngFor="let medico of medicos" [value]="medico.id">
                                            {{ medico.nombre }} {{ medico.apellidos }}
                                        </option>
                                    </select>
                                </div>
                                <!-- Fecha y hora -->
                                <div>
                                    <label for="fecha_hora_cita" class="form-label">Fecha y hora</label>
                                    <input type="datetime-local" id="fecha_hora_cita" class="form-control"
                                        formControlName="fecha_hora_cita" required />
                                </div>
                                <!-- Observaciones -->
                                <div>
                                    <label for="observaciones" class="form-label">Observaciones</label>
                                    <textarea id="observaciones" class="form-control" formControlName="observaciones"
                                        rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="boton-registrar">
                            <button class="btn btn-secondary" (click)="cerrar()">Cancelar</button>
                            <button class="btn btn-primary" (click)="crearCita()">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        
    </div>
</div>