<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>CREAR CITA</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            
            <form action="">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="cif">CIF:</label>
                                <input
                                    type="text"
                                    name="cif"
                                    id="cif"
                                />
                            </div>
                            <div>
                                <label for="pacientes">Pacientes:</label>
                                <select name="pacientes" id="pacientes" multiple>
                                    <option value="" selected disabled>Seleccione los pacientes</option>
                                    <option value="">Pepe</option>
                                    <option value="">Juan</option>
                                    <option value="">Antonio</option>
                                    <option value="">Paco</option>
                                    <option value="">Jose</option>
                                </select>
                            </div>
                            <div>
                                <label for="medico">Médico asignado:</label>
                                <select name="medico" id="medico">
                                    <option value="" selected disabled>Selecciona un médico</option>
                                    
                                </select>
                            </div>
                            <div>
                                <label for="fecha">Fecha:</label>
                                <input type="date" name="fecha" id="fecha"/>
                            </div>
                            <div>
                                <label for="hora">Hora:</label>
                                <input type="time" name="hora" id="hora"/>
                            </div>
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="reservar">Reservar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
