<div class="container-medicos">
    <div class="header-medicos">
        <!-- <div>
            <button (click)="modal.open()">Agregar contrato</button>
        </div> -->
        <app-modal-create #modal></app-modal-create>
        <div id="contenedor-busqueda">
            <input
                type="text"
                placeholder="Búsqueda..."
                (input)="filterContratos()"
            />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>

    <table id="tabla-medicos">
        <thead>
            <tr>
                <th>Nº Contrato</th>
                <th>Empresa</th>
                <th>Reconocimientos <br />contratados</th>
                <th>Reconocimientos <br />restantes</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contrato of filteredContratos">
                <td>{{ contrato.contrato }}</td>
                <td>{{ contrato.empresa }}</td>
                <td>{{ contrato.num_reconocimientos }}</td>
                <td>{{ contrato.reconocimientos_restantes }}</td>
                <td>{{ contrato.fecha_inicio }}</td>
                <td>{{ contrato.fecha_fin }}</td>
                <td>
                    <button id="edit-button">Editar</button>
                    <button
                        id="delete-button"
                    >
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
