<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>CREAR CONTRATO</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            <form action="">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="reservar">Reservar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
