<div class="container-citas">
    <div class="header-citas">
        <div>
            <button (click)="modal.open()">Crear cita</button>
        </div>
        <app-modal-create
            (citaCreada)="getCitasPorIdRol(rol_id)"
            #modal
        ></app-modal-create>
        <div id="contenedor-filtros">
            <label for="fecha-desde">Fecha desde:</label>
            <input type="text" id="fecha-desde" placeholder="" />
            <label for="fecha-hasta">Fecha hasta:</label>
            <input type="text" id="fecha-hasta" placeholder="" />
        </div>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda..." />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table
        mat-table
        [dataSource]="citasDataSource"
        matSort
        class="mat-elevation-z8"
    >
        <!-- ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let cita">{{ cita.id }}</td>
        </ng-container>

        <!-- Paciente -->
        <ng-container matColumnDef="id_paciente">
            <th mat-header-cell *matHeaderCellDef>Paciente</th>
            <td mat-cell *matCellDef="let cita">{{ cita.id_paciente }}</td>
        </ng-container>

        <!-- Médico -->
        <ng-container matColumnDef="id_medico">
            <th mat-header-cell *matHeaderCellDef>Médico</th>
            <td mat-cell *matCellDef="let cita">{{ cita.id_medico }}</td>
        </ng-container>

        <!-- Contrato -->
        <ng-container matColumnDef="id_contrato">
            <th mat-header-cell *matHeaderCellDef>Contrato</th>
            <td mat-cell *matCellDef="let cita">{{ cita.id_contrato }}</td>
        </ng-container>

        <!-- Fecha y Hora -->
        <ng-container matColumnDef="fecha_hora_cita">
            <th mat-header-cell *matHeaderCellDef>Fecha y Hora</th>
            <td mat-cell *matCellDef="let cita">
                {{ cita.fecha_hora_cita | date : "short" }}
            </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let cita">{{ cita.estado }}</td>
        </ng-container>

        <!-- Observaciones -->
        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef>Observaciones</th>
            <td mat-cell *matCellDef="let cita">{{ cita.observaciones }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let cita">
                <button (click)="modal.open()" id="edit-button">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button id="delete-button">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [length]="citasDataSource.data.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
    ></mat-paginator>
</div>
