<div class="modal-header">
    <h5 class="modal-title">Editar cita</h5>
    <button type="button" class="btn-close" aria-label="Cerrar" (click)="cancelar()"></button>
</div>

<div class="modal-body">
    <form (ngSubmit)="guardar()" #form="ngForm">
        <div class="mb-3">
            <label for="hora" class="form-label">Hora</label>
            <select *ngIf="data.horariosDisponibles.length > 0" id="hora" class="form-select" [(ngModel)]="citaModificada.hora" name="hora" required>
                <option *ngFor="let hora of data.horariosDisponibles" [value]="hora">
                    {{ hora }}
                </option>
            </select>
            <!-- Mensaje cuando no hay horas disponibles -->
            <div *ngIf="data.horariosDisponibles.length === 0" class="alert alert-warning" role="alert">
                No hay horas disponibles después de las 15:00.
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-2" (click)="cancelar()">Cancelar</button>
            <!-- Deshabilitar guardar si no hay horas disponibles -->
            <button type="submit" class="btn btn-primary" [disabled]="data.horariosDisponibles.length === 0">Guardar</button>
        </div>
    </form>
</div>