<div class="container-medicos">
    <div class="header-medicos">
        <div>
            <button (click)="modal.open()">Agregar trabajador</button>
        </div>
        <app-modal-create #modal>
        </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda...">
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table id="tabla-medicos">
        <thead>
            <th><strong>Id</strong></th>
            <th>Empresa</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Fecha nacimiento</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr ngForEach = "let paciente of pacientes">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>