<div class="container-clientes">
    <div class="header-clientes">
        <div>
            <button (click)="modal.open()">Agregar trabajador</button>
        </div>
        <app-modal-create #modal (pacienteCreado)="getPacientes()"></app-modal-create>

        <!-- Búsqueda global -->
        <div id="contenedor-busqueda">
            <input
                type="text"
                [(ngModel)]="busquedaGlobal"
                (input)="applyFilters()"
                placeholder="Búsqueda..."
            />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>

    <table mat-table [dataSource]="pacientesDataSource" matSort class="mat-elevation-z1">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.id }}</td>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Empresa</th>
            <td mat-cell *matCellDef="let paciente">{{ clienteNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.apellidos }}, {{ paciente.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef>DNI</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.dni }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.email }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha_nacimiento">
            <th mat-header-cell *matHeaderCellDef>F. nacimiento</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.fecha_nacimiento | date: "dd/MM/yyyy" }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let paciente">
                <button class="boton-cambiar" (click)="editarPaciente(paciente)">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="boton-eliminar" (click)="eliminarPaciente(paciente)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="pacientes.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
