<div class="container-citas">
    <div class="header-citas">
        <div id="contenedor-filtros">
            <label for="fecha-desde">Fecha desde:</label>
            <input type="date" id="fecha-desde" [(ngModel)]="fechaDesde" (change)="filtrarPorFechas()" />
            <label for="fecha-hasta">Fecha hasta:</label>
            <input type="date" id="fecha-hasta" [(ngModel)]="fechaHasta" (change)="filtrarPorFechas()" />
        </div>

        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda..." (input)="aplicarFiltro($event)" />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>

    <table mat-table [dataSource]="citasDataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let cita">{{ cita.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombre_paciente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Paciente</th>
            <td mat-cell *matCellDef="let cita">{{ cita.nombre_paciente }}</td>
        </ng-container>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
            <td mat-cell *matCellDef="let cita">{{ cita.dni }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
            <td mat-cell *matCellDef="let cita">{{ cita.fecha_hora_cita | date : "dd-MM-yyyy" }}</td>
        </ng-container>

        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
            <td mat-cell *matCellDef="let cita">{{ cita.fecha_hora_cita | date : "HH:mm" }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
            <td mat-cell *matCellDef="let cita">{{ cita.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Observaciones</th>
            <td mat-cell *matCellDef="let cita">
                <button mat-button color="primary" (click)="mostrarObservaciones(cita.observaciones)"
                    [title]="cita.observaciones || 'Sin observaciones'" class="boton-observaciones">
                    Ver observación
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let cita">
                <button class="boton-cambiar" id="edit-button"
                    [disabled]="cita.estado !== 'pendiente' || !esHoy(cita.fecha_hora_cita)" (click)="openModal(cita)"
                    title="Cambiar hora de la cita">
                    <i class="bi bi-pencil-square"></i>
                </button>

                <button class="boton-estado" id="estado-button" [disabled]="cita.estado !== 'pendiente'"
                    (click)="cambiarEstado(cita)" title="Cambiar estado">
                    <i class="bi bi-arrow-repeat"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [length]="citasDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"></mat-paginator>
</div>