<div class="container-medicos">
    <div class="header-medicos">
        <div>
            <button (click)="modal.open()">Registrar médico</button>
        </div>
        <app-modal-create #modal>
        </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda...">
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table id="tabla-medicos">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>