<div class="container-medicos">
    <div class="header-medicos">
        <div>
            <button (click)="modal.open()">Registrar médico</button>
        </div>
        <app-modal-create #modal>
        </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda...">
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table id="tabla-medicos">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let medico of medicos">
                <td>{{ medico.id }}</td>
                <td>{{ medico.apellidos+', '+medico.nombre}}</td>
                <td>{{ medico.dni }}</td>
                <td>{{ medico.fecha_inicio | date: 'dd/MM/yyyy' }}</td>
                <td>{{ medico.fecha_fin | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <button id="edit-button"><i class="bi bi-pencil-square"></i></button>
                    <button id="delete-button"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>