<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>REGISTRAR CLIENTE</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            
            <form action="">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="email">Email:</label>
                                <input type="text" name="email" id="email"/>
                            </div>
                            <div>
                                <label for="password">Contraseña:</label>
                                <input type="text" name="password" id="password" />
                            </div>
                            <div>
                                <label for="rol">Rol:</label>
                                <select name="rol" id="rol">
                                    <option value="admin">Administrador</option>
                                    <option value="medico">Médico</option>
                                    <option value="cliente" selected>Cliente</option>
                                    <option value="paciente">Paciente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="boton-registrar">
                        <button type="submit" id="registrar">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
