<div class="modal-backdrop" *ngIf="isVisible">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{isEditMode ? 'EDITAR' : 'REGISTRAR'}} USUARIO</h2>
            <i class="bi bi-x-circle close-button" (click)="close()"></i>
        </div>
        <div>
            <form #userForm="ngForm" (ngSubmit)="crearUsuario(userForm)">
                <div id="contenedor-principal">
                    <div id="columnas">
                        <div id="primer-contenedor">
                            <div>
                                <label for="email">Email:</label>
                                <input
                                    type="email"
                                    name="email"
                                    id="email"
                                    [(ngModel)]="email"
                                    required
                                    #emailField="ngModel"
                                />
                                <div *ngIf="emailField.invalid && emailField.touched" class="error">
                                    El email es obligatorio.
                                </div>
                            </div>

                            <div class="input-container">
                                <label for="password">Contraseña:</label>
                                <div class="password-wrapper">
                                    <input
                                        [type]="mostrarPassword ? 'text' : 'password'"
                                        name="password"
                                        id="password"
                                        [(ngModel)]="password"
                                        required
                                        minlength="6"
                                        #passwordField="ngModel"
                                    />
                                    <i
                                        class="bi"
                                        [ngClass]="mostrarPassword ? 'bi-eye-fill' : 'bi-eye-slash-fill'"
                                        (click)="mostrarPassword = !mostrarPassword"
                                    ></i>
                                </div>
                                <div *ngIf="passwordField.invalid && passwordField.touched" class="error">
                                    La contraseña es obligatoria y debe tener al menos 6 caracteres.
                                </div>
                            </div>

                            <div>
                                <label for="rol">Rol:</label>
                                <select
                                    name="rol"
                                    id="rol"
                                    [(ngModel)]="rol"
                                    required
                                    #rolField="ngModel"
                                >
                                    <option value="Administrador">Administrador</option>
                                    <option value="Medico">Médico</option>
                                    <option value="Cliente" selected>Cliente</option>
                                    <option value="Paciente">Paciente</option>
                                </select>
                                <div *ngIf="rolField.invalid && rolField.touched" class="error">
                                    El rol es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="boton-registrar">
                        <button type="submit" id="registrar" [disabled]="userForm.invalid">
                            {{isEditMode ? 'Actualizar' : 'Registrar'}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
