<div class="container-usuarios">
    <div class="header-usuarios">
        <div>
            <button (click)="modal.open()">Registrar usuario</button>
        </div>
        <app-modal-create
            #modal
            (userCreated)="getUsuarios()"
            (userEdited)="getUsuarios()"
        ></app-modal-create>

        <div id="contenedor-busqueda">
            <input
                type="text"
                placeholder="Búsqueda..."
                (keyup)="applyFilter($event)"
            />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>

    <table
        mat-table
        [dataSource]="usuariosDataSource"
        class="mat-elevation-z1"
        matSort
    >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.id }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let usuario">{{ usuario.email }}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
            <td mat-cell *matCellDef="let usuario">
                {{ usuario.roles[0]?.name || "-" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let usuario">
                <button
                    (click)="openEditRolModal(usuario)"
                    class="boton-cambiar"
                >
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="boton-eliminar" (click)="eliminarUsuario(usuario)">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
        [length]="usuarios.length"
        [pageSize]="5"
        [pageSizeOptions]="[10, 20, 50]"
    ></mat-paginator>
</div>
