<div class="container-usuarios">
    <div class="header-usuarios">
        <div>
            <button (click)="modal.open()">Registrar usuario</button>
        </div>
        <app-modal-create #modal>
        </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda...">
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table id="tabla-usuarios">
        <thead>
            <th><strong>Id</strong></th>
            <th>Email</th>
            <th><strong>Rol</strong></th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.roles[0]?.name }}</td>
                <td>
                    <button (click)="modal.open()">Editar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>