<div class="container-usuarios">
    <div class="header-usuarios">
        <div>
            <button (click)="modal.open()">Registrar usuario</button>
        </div>
        <app-modal-create #modal>
        </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda...">
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table id="tabla-usuarios">
        <thead>
            <th><strong>Id</strong></th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>