/* .body{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.body:first-child{
    width: auto;
    max-height: 80vh;
}
.body:nth-child(2){ 
    max-width: 80%;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}
 */