
<div class="container mt-5">
        <div *ngIf="medico">
        <h2>Bienvenido, Dr./Dra. {{ medico.nombre }} {{ medico.apellidos }}</h2>
        <hr>
        </div>
    
        <div>
        <h3>Citas del día {{ fechaActual | date: 'dd/MM/yyyy' }}</h3>
        
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hora de la Cita</th>
                <th>Fecha de la Cita</th>
                <th>Nombre del Paciente</th>
                <th>Empresa</th>
                <th>Estado</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cita of citas">
                <td>{{ cita.fecha_hora_cita | date: 'HH:mm' }}</td>
                <td>{{ cita.fecha_hora_cita | date: 'dd/MM/yyyy' }}</td>
                <td>{{ cita.paciente.nombre }} {{ cita.paciente.apellidos }}</td>
                <td>{{ cita.empresa }}</td>
                <td>{{ cita.estado }}</td>
                <td>
                <button class="btn btn-sm btn-primary">
                    <i class="bi bi-pencil"></i> Editar
                </button>
                </td>
            </tr>
            </tbody>
        </table>
    
        
        </div>
    </div> 