.container-pacientes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
    width: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.header-pacientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#contenedor-busqueda{
    position: relative;
}
.header-pacientes button{
    background-color: #009975;
    color: white;
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 40px;
}

#contenedor-busqueda input{
    padding: 15px;
    border: 0;
    border-radius: 28px;
    padding-left: 30px;
}

#icono-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}

table{
    margin-top: 10px;
    width: 100%;
}

table th, table td{
    text-align: center;
}
#tabla-pacientes th{
    background-color: #376AA8;
    color: white;
}

#tabla-pacientes th,td{
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

#tabla-pacientes tr:nth-child(odd){
    background-color: #fff;
}
#tabla-pacientes tr:nth-child(even){
    background-color: #376aa845;
}

#tabla-pacientes th:last-child,td:last-child{
    border-right: 0;
}
mat-paginator {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

mat-paginator .mat-paginator-range-label {
    font-size: 7px;
}

mat-paginator button {
    font-size: 7px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
}

mat-paginator button:hover {
    background-color: #45a049;
}