<div class="container-pacientes">
    <div class="header-pacientes">
        <div>
            <button (click)="openCreatePacienteModal()">Agregar paciente</button>
            vista Listar Pacientes
        </div>
        <div id="contenedor-filtros">
            <label for="fecha-desde">Fecha desde:</label>
            <input
                type="date"
                id="fecha-desde"
                placeholder=""
                [(ngModel)]="fechaDesde"
                (change)="aplicarTodosLosFiltros()"
            />
            <label for="fecha-hasta">Fecha hasta:</label>
            <input
                type="date"
                id="fecha-hasta"
                placeholder=""
                [(ngModel)]="fechaHasta"
                (change)="aplicarTodosLosFiltros()"
            />
        </div>
        <div id="contenedor-busqueda">
            <input
                type="text"
                placeholder="Búsqueda..."
                (keyup)="aplicarTodosLosFiltros()"
                [(ngModel)]="filtroBusqueda"
            />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <table mat-table [dataSource]="pacientesDataSource" matSort>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.apellidos ? paciente.apellidos + ", " : "" }}{{ paciente.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="dni">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.dni }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.email }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaNacimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha nacimiento</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.fecha_nacimiento | date : "dd/MM/yyyy" }}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
            <td mat-cell *matCellDef="let paciente">
				<button mat-icon-button color="primary" (click)="openEditPacienteModal(paciente)">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button color="warn" (click)="eliminarPaciente(paciente.id)">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

<mat-paginator [length]="pacientesDataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
            aria-label="Seleccionar página"></mat-paginator>
</div>