<div class="nav">
    <button id="dashboard" type="button"><i class="bi bi-speedometer"></i>Dashboard</button>
    <button id="citas" type="button"><i class="bi bi-calendar-date"></i> Citas</button>
    <button id="clientes" type="button"><i class="bi bi-clipboard-plus"></i> Clientes</button>
    <button id="medicos" type="button"><i class="bi bi-hospital"></i> Médicos</button>
    <button id="usuarios" type="button"><i class="bi bi-person-badge-fill"></i>usuarios</button>
    <div>
        <button id="logout">Cerrar Sesión</button>
    </div>
    <button id="citas" type="button" ><i class="bi bi-calendar-date"></i>Citas</button>
    <button id="clientes" type="button"><i class="bi bi-clipboard-plus"></i>Clientes</button>
    <button id="medicos" type="button"><i class="bi bi-hospital"></i>Médicos</button>
    <button id="usuarios" type="button"><i class="bi bi-person-badge-fill"></i>Usuarios</button>
</div>