<div class="nav">
    <button id="Home" type="button"><i class="bi bi-speedometer" routerLink="/home" routerLinkActive="active"></i>Home</button>
    <button id="dashboard" type="button" ><i class="bi bi-speedometer"></i>Dashboard</button>
    <button id="citas" type="button"><i class="bi bi-calendar-date" routerLink="/citas" routerLinkActive="active"></i> Citas</button>
    <button id="clientes" type="button"><i class="bi bi-clipboard-plus" routerLink="/clientes" routerLinkActive="active"></i> Clientes</button>
    <button id="medicos" type="button"><i class="bi bi-hospital" routerLink="/medicos" routerLinkActive="active"></i> Médicos</button>
    <button id="usuarios" type="button"><i class="bi bi-person-badge-fill"></i>usuarios</button>
    <div>
        <button id="logout" routerLink="/home" routerLinkActive="active">Cerrar Sesión</button>
        <button id="logout">Cerrar Sesión</button>
    </div>
    <button id="citas" type="button" ><i class="bi bi-calendar-date" routerLink="/citas" routerLinkActive="active"></i>Citas</button>
    <button id="clientes" type="button"><i class="bi bi-clipboard-plus" routerLink="/clientes" routerLinkActive="active"></i>Clientes</button>
    <button id="medicos" type="button"><i class="bi bi-hospital" routerLink="/medicos" routerLinkActive="active"></i>Médicos</button>
    <button id="usuarios" type="button"><i class="bi bi-person-badge-fill"></i>Usuarios</button>
</div>