<div class="nav">
    <button id="dashboard" type="button" routerLink="/dashboard" >
        <i class="bi bi-speedometer"></i>Dashboard
    </button>
    <button id="citas" type="button" routerLink="/citas">
        <i class="bi bi-calendar-date"></i> Citas
    </button>
    <button id="clientes" type="button" routerLink="/clientes">
        <i class="bi bi-clipboard-plus"></i> Clientes
    </button>
    <button id="medicos" type="button" routerLink="/medicos">
        <i class="bi bi-hospital"></i> Médicos
    </button>
    <button id="usuarios" type="button" routerLink="/usuarios">
        <i class="bi bi-person-badge-fill"></i>usuarios
    </button>
</div>
