<div class="container-clientes">
    <div class="header-clientes">
        <div>
            <button (click)="modal.open()">Registrar cliente</button>
        </div>
        <app-modal-create #modal></app-modal-create>

        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda..." />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>

    <div id="contenedor-filtros">
        <label for="razon-social">Razón Social:</label>
        <input type="text" id="razon-social" placeholder="" />
        <label for="municipio">Municipio:</label>
        <input type="text" id="municipio" placeholder="" />
    </div>

    <table id="tabla-clientes">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razón social</th>
                <th>CIF</th>
                <th>Dirección</th>
                <th>Municipio</th>
                <th>Provincia</th>
                <th>Contrato</th>
                <th>F. Inicio</th>
                <th>F. Fin</th>
                <th>R. restantes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>
                    <a [routerLink]="['/clientes', cliente.id, 'pacientes']">{{
                        cliente.razon_social
                    }}</a>
                </td>
                <td>{{ cliente.cif }}</td>
                <td>{{ cliente.direccion }}</td>
                <td>{{ cliente.municipio }}</td>
                <td>{{ cliente.provincia }}</td>
                <td>
                    <a [routerLink]="['/clientes', cliente.id, 'contratos']">
                        {{ cliente.contrato ?? "Sin contrato" }}
                    </a>
                </td>
                <td>
                    {{
                        cliente.fecha_inicio
                            ? (cliente.fecha_inicio | date : "dd/MM/yyyy")
                            : "-"
                    }}
                </td>
                <td>
                    {{
                        cliente.fecha_fin
                            ? (cliente.fecha_fin | date : "dd/MM/yyyy")
                            : "-"
                    }}
                </td>
                <td>{{ cliente.reconocimientos_restantes ?? "-" }}</td>
                <td>
                    <button id="edit-button"><i class="bi bi-pencil-square"></i></button>
                    <button id="delete-button"><i class="bi bi-trash-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
