<div class="container-clientes">
    <div class="header-clientes">
        <button (click)="modal.open()">Registrar cliente</button>
        <app-modal-create #modal> </app-modal-create>
        <div id="contenedor-busqueda">
            <input type="text" placeholder="Búsqueda..." />
            <i class="bi bi-search" id="icono-search"></i>
        </div>
    </div>
    <div id="contenedor-filtros">
        <label for="razon-social">Razón Social:</label>
        <input type="text" id="razon-social" placeholder="" />
        <label for="municipio">Municipio:</label>
        <input type="text" id="municipio" placeholder="" />
    </div>
    <table id="tabla-clientes">
        <thead>
            <th>Id</th>
            <th>Razón social</th>
            <th>CIF</th>
            <th>Dirección</th>
            <th>Municipio</th>
            <th>Provincia</th>
            <th>F. Inicio</th>
            <th>F. Fin</th>
            <th>Reconocimientos restantes</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
